[run]
source = src/asimov
omit =
    */__init__.py
    */tests/*
    */migrations/*
    C:\PROJETOS\PYTHON\APPS\asimov\src\asimov\estudos\*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass